.background-image {
  background-image: url('../../../resources/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Lato', sans-serif;
}

.card-header {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}